.item {
  width: 100%;
}
.button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-block: 10px;
  padding-inline: 10px;
  font-size: 24px;
  border: 1px solid #000;
  border-radius: 5px;
}

.button:hover {
  background-color: #e4e4e4;
}
